{
    "database" : {
		"host" : "MYSQL_HOST",
		"port" : "MYSQL_PORT",
		"user" : "MYSQL_USER",
		"pass" : "MYSQL_PASSWORD",
		"db"   : "MYSQL_DATABASE"
    },
    "host"       : "localhost",
    "mysql_dump" : "./mysql/countries.sql",
    "json_dump"  : "json/countries.json",
    "csv_dump"   : "csv/countries.csv"
}
